VITE_SUPABASE_URL=https://aolbgbybshufushazvwb.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_5IB99zoE-d7mmPzvsd-zgg_BumcymPk
VITE_PAYSTACK_PUBLIC_KEY=pk_live_65939b7ec94920f0ff75dc30db7cb17513c3cb11
